html{overflow-y:scroll;}
body{margin:0; padding:0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif;}
.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:inline-block; clear:both;}
a{outline:none; text-decoration:none;}
div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left;}
.row2{color:#666666; background-color:#FFFFFF;}
.row2 a{color:#FF9900; background-color:#FFFFFF;}
div.wrapper h1, div.wrapper h2{ margin:0 0 15px 0; padding:0; font-size:20px;   font-weight:normal; line-height:normal; }
#container {display:block; width:960px; margin:0 auto;}
#container{padding:30px 0;}
#container a{background-color:transparent;}
#fof{display:block; width:100%; padding:150px 0; line-height:1.6em; text-align:center;}
#fof .hgroup{display:block; width:80%; margin:0 auto; padding:0;}
#fof .hgroup h1, #fof .hgroup h2{margin:0 0 0 40px; padding:0; float:left; text-transform:uppercase;}
#fof .hgroup h1{margin-top:-90px; font-size:200px;}
#fof .hgroup h2{font-size:60px;}
#fof .hgroup h2 span{display:block; font-size:30px;}
#fof p{margin:25px 0 0 0; padding:0; font-size:16px;}
#fof p:first-child{margin-top:0;}