/* CSS for Masterpage */
.table-page .table-master tr {
	cursor: pointer;
}
.masterpage-filter{
	margin-bottom: 10px;
}
.filter-part{
	float:left;
	margin-bottom: 10px;
	margin-right: 10px;
}
.masterpage-filter h4{
	margin-top: 0px;
}
.masterpage-filter hr{
	margin-top: 5px;
}
.margin-left-10 {
	margin-left: 10px;
}
.margin-left-5 {
	margin-left: 5px;
}
.page-footer-fixed .page-footer{
	background: #E1E1E1;
}
/* end of css for masterpage */

/* custom css table report */
.table-striped>tbody>tr:nth-of-type(even){
	background-color: white;
}

.report-table-row:hover{
	cursor: pointer;
}
/* end custom css table report */